@{
    ViewData["Title"] = "Forgot Password";
}


<div class="container mt-5">

    <h2>
        Forgot Password
    </h2>


    <form>


        <div class="form-group">

            <label>
                Login ID
            </label>

            <input type="text"
                   class="form-control" />

        </div>


        <button class="btn btn-warning">
            Submit
        </button>


    </form>


</div>